form {
  text-align: center;
  font-family: sans-serif;
}

.name-block {
  display: block;
  margin: 5px;
}

.inline-block {
  display: inline-block;
  margin-top: 15px;
}

.inline-block label {
  display: block;
}
